- provide(:title, "Help")
%h3 iOS测试软件下载
= image_tag("QR_code_le_control.png", class: "")
%h1 文档
%ul
  %li
    %strong v1.0.1
    %blockquote<
      %div
        首次上线版本

  %li 
    %strong v1.0.2 
    %blockquote<
      %div 增加自定义控件
      %div 2017-03-06 添加排序功能      
      %div 2017-03-06 添加房间和设备的复制功能