- provide(:title, "Home")
.center.jumbotron
  %h1 Welcome to the 乐控 App
  %p.le-notice 添加和删除控件的功能可测试，暂时请勿做正式使用，等待更新...
  %h3 iOS测试软件下载
  = image_tag("QR_code_le_control.png", class: "")
  %h3 乐控app store下载
  = image_tag("QR_code_le_control_app_store.png", class: "")
