<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Welcome to the 乐控 App</h1>

  <h3>iOS测试软件下载</h3>
  <%= image_tag("QR_code_le_control.png", class: "") %>
  
  <h3>乐控app store下载</h3>
  <%= image_tag("QR_code_le_control_app_store.png", class: "") %>
</div>
