= link_to '<i class="glyphicon glyphicon-triangle-top"></i>'.html_safe, { action: 'show', method: 'move_higher', item_name: item, move_type: move_type }, class: 'btn btn-success', disabled: item.first?
= link_to '<i class="glyphicon glyphicon-triangle-bottom"></i>'.html_safe, { action: 'show', method: 'move_lower', item_name: item, move_type: move_type }, class: 'btn btn-success', disabled: item.last?
/
  move_to_top, move_to_bottom
