<h1>我的所有项目</h1>
<div class="col-sm-6 col-md-4">
  <div class="thumbnail building">
    <%= image_tag("le_icons/room_icon/bar-counter_room.png", size: "72*72", alt: "Building Image")%>
    <div class="caption">
      <h3>...</h3>
      <p>...</p>
      <div class="list_group">
          <%= link_to '新建项目', new_building_path, class: 'btn btn-info btn-block'  %>
      </div>
    </div>
  </div>
</div>

<%= render @buildings %>
