%h1 我的所有项目
.col-xs-4.col-sm-4.col-md-4
  .thumbnail.building
    = image_tag("LeControl.png", size: "72*72", alt: "Building Image")
    .caption
      %h3 ...
      %p ...
      .list_group
        = link_to '新建项目', new_building_path, class: 'btn btn-info btn-block'
= render @buildings
