
<p>
  <strong>Name:</strong>
  <%= @building.name %>
</p>
 
<p>
  <strong>socket_address:</strong>
  <%= @building.socket_address %>
</p>
<%= link_to 'Edit', edit_building_path(@building) %> 
<%= link_to 'Back', buildings_path %>
  