<footer class="site-footer">
  <small>
    吃什么想什么
  </small>
  <nav>
    <ul>
      <li><%= link_to "关于", about_path %></li>
      <li><%= link_to "联系我们", contact_path %></li>
    </ul>
  </nav>
</footer>
